Table {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    letter-spacing: 0em;
}
thead {
    font-size: 12px;
    line-height: 14px;
    color: #444444;
}

th {
    height: 50px;
    font-weight: normal;
    line-height: 26px;
}

tbody {
    font-size: 14px;
    line-height: 16px;
    color: #4F4F4F;
    background-color: rgba(245, 245, 245, 1);
}

.dark {
    background-color: rgba(237, 237, 237, 1);
}

.light {
    background-color: rgba(245, 245, 245, 1);
}